@import "../../vendor/fonts/fonts.css";

.search {
  display: flex;
  background-color: #ffffff;
}

.search__container {
  display: flex;
  align-items: center;
  width: 89%;
  margin: 0 auto 10px auto;
  border-bottom: rgba(232, 232, 232, 1) solid 1px;
}

@media screen and (max-width: 768px) {
  .search__container {
    flex-direction: column;
    width: 92%;
  }
}

@media screen and (max-width: 320px) {
  .search__container {
    width: 292px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 46px 0 84px 0;
}

@media screen and (max-width: 768px) {
  .form {
    margin: 26px 0 38px 0;
  }
}

@media screen and (max-width: 320px) {
  .form {
    width: 300px;
    margin: 26px 0 45px 0;
  }
}

.form__top {
  display: flex;
  justify-content: right;
  width: 100%;
}

.form__bottom {
  display: flex;
  justify-content: left;
  width: 100%;
}

.form__input {
  display: flex;
  width: 100%;
  height: 48px;
  border: rgba(232, 232, 232, 1) solid 1px;
  border-radius: 45px;
  padding: 0 0 0 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .form__input {
    padding: 0 0 0 18px;
  }
}

@media screen and (max-width: 320px) {
  .form__input {
    width: 300px;
    font-size: 11px;
  }
}

.form__input:hover {
  background-color: rgba(249, 249, 249, 1);
}

.form__input:focus {
  outline: rgba(160, 160, 160, 1) solid 1px;
}

.form__submit {
  width: 34px;
  height: 34px;
  border-radius: 48px;
  background-color: rgba(52, 86, 243, 1);
  background-image: url("../../images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity, 0s, ease-out, 0.5;
  padding: 17px;
  position: relative;
  bottom: -42px;
  left: -8px;
}

.form__submit:hover {
  opacity: 0.8;
}

.search__short-films {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 95px 14px 98px 41px;
}

@media screen and (max-width: 768px) {
  .search__short-films {
    margin: 0 auto 57px auto;
  }
}

@media screen and (max-width: 320px) {
  .search__short-films {
    margin: 0 auto 43px auto;
  }
}

.search__text {
  color: #000000;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0 14px 0 0;
}

@media screen and (max-width: 320px) {
  .search__text {
    font-size: 11px;
    margin: 0 13px 0 0;
  }
}
